

<!DOCTYPE html>
<html>
    <head>
        <title><%= storyTitle %></title>
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
    </head>


    <body>
        <%- include('partials/current-user-header') %>
        <h1><%= storyTitle %></h1>
        <h3>Prompt: <%= prompt %></h3>
        <p><%= storycontent %></p>
        <h2>Authors:</h2>
        <ul>
            <% for (const user of authors) { %>
                <li><a href="/user/<%= encodeURI(user.username) %>"><%= user.username %></a></li>
            <% } %>
        </ul>
        <p><a href="/library">View Library</a></p>
        <p><a href="/home">Home</a></p>
    </body>
</html>