<!DOCTYPE html>
<html>
    <head>
        <title><%= username%>'s Profile</title>
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
    </head>

    <body>
        <%- include('partials/current-user-header') %>
        <h1><%= username %>'s Profile</h1>
        <h2>Stories Authored:</h2>
        <ul>
            <% for (const story of stories) { %>
                <li><a href="/story/<%= story.storytitle%>"><%= story.storytitle %></a></li>
            <% } %>
        </ul>
        <p><a href="/home">Home</a></p>
    </body>
</html>