<!DOCTYPE html>
<html>
    <head>
        <title>Author-Write-Us</title>
    </head>


    <body>
        <%- include('partials/current-user-header') %>
        <h1>Writing Desk</h1>

        <h2><%= storyTitle %></h2>
        <h3>Prompt: <%= prompt %></h3>
        <p>Queue (top=next):</p>
        <ul id="userQueue"></ul>

        <p id="previousInput"></p>
        
        <form id="append-form" accept-charset="utf-8">
            <% if (maxlength>=200) { %>
                <p><input style="display: none" id="writingInput" name="content" type="text" pattern="((\S.*\S)||(\S))[\.\?\!]" title="no trailing whitespace, and remember punctuation!" placeholder="Write!" maxlength="<%= maxlength %>" required></p>
            <% } else { %>
                <p><input style="display: none" id="writingInput" name="content" type="text" pattern="((\S.*\S)||(\S))" title="no trailing whitespace!" placeholder="Write!" maxlength="<%= maxlength %>" required></p>
            <% } %>
                <p><input style="display: none" id="submitBtn" type="submit" value="Submit"></p>
        </form>
            
        <p><a href="/home">Home</a></p>
        <script src="/scripts/story-append.js"></script>
        <script src="/scripts/userqueue.js"></script>
    </body>
</html>
